# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/
.dep/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# mac
.DS_Store
__MACOSX

# mujoco-key
mjkey.txt

.mujocomanip_temp_model.xml

#*.jpg
.idea

.pytest_cache/

MUJOCO_LOG.TXT

macros_private.py
src/lerobocasa/models/assets/demonstrations_private
datasets
!docs/**/datasets

# model zoo
v-hacd
src/lerobocasa/models/assets/model_zoo_assets

# object assets
src/lerobocasa/models/assets/objects/**/*.glb
src/lerobocasa/models/assets/objects/**/*.obj
src/lerobocasa/models/assets/objects/**/*.mtl
src/lerobocasa/models/assets/objects/**/*.blend
src/lerobocasa/models/assets/objects/**/*.blend1
src/lerobocasa/models/assets/objects/**/*.mp4
src/lerobocasa/models/assets/objects/**/*.png
src/lerobocasa/models/assets/objects/**/*.jpeg
src/lerobocasa/models/assets/objects/**/model.xml

# don't track any files in objects folder
src/lerobocasa/models/assets/objects

# Ignore all fixture asset files
src/lerobocasa/models/assets/fixtures/**/*.glb
src/lerobocasa/models/assets/fixtures/**/*.obj
src/lerobocasa/models/assets/fixtures/**/*.mtl
src/lerobocasa/models/assets/fixtures/**/*.blend
src/lerobocasa/models/assets/fixtures/**/*.blend1
src/lerobocasa/models/assets/fixtures/**/*.mp4
src/lerobocasa/models/assets/fixtures/**/*.png
src/lerobocasa/models/assets/fixtures/**/*.jpeg
src/lerobocasa/models/assets/fixtures/**/model.xml
# Re-include selected directories
!src/lerobocasa/models/assets/fixtures/fixture_registry/**
!src/lerobocasa/models/assets/fixtures/accessories/**
!src/lerobocasa/models/assets/fixtures/counters/**

# default textures
src/lerobocasa/models/assets/textures

# midjourney-generated textures
src/lerobocasa/models/assets/generative_textures

# taskgen outputs
src/lerobocasa/scripts/internal/taskgen/activity_prompting/outputs/
src/lerobocasa/scripts/internal/taskgen/task_prompting/outputs/
src/lerobocasa/scripts/taskgen/activity_prompting/outputs/
src/lerobocasa/scripts/taskgen/task_prompting/outputs/

# Always ignore macOS junk
**/.DS_Store
